body{
    background-image: url("img/aquarium-5650174_1280\ -\ Copia.jpg");

}

main{ font-size: 44px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(133, 152, 133);
background-image: url("img/fish-6368233_1280.jpg");
font-weight: 500;
text-align: center;
border-radius: 100%;
padding: auto;
width: 20;
background-size: 55;

}

h1{
    background-image: url("img/fish-6368233_1280.jpg");
    color: #fff;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





























